In [2]:
1 + 1

2

In [4]:
print("Hello World")
x = 13
y = 23
print ("the value of total cost is ", x+y )

Hello World
the value of total cost is  36

In [5]:
name = "jack"
print(name)

name = "Angela"
print(name)
print(len(input("what is your name?")))

name = input("what is your name:")
print(len(name))

jack
Angela

what is your name? Mohammed

8

what is your name: Mohammed

8

In [6]:
name = input("what is your name:")
print(name)
print("your length of name is",  len(name))

what is your name: Mohammed Imran

Mohammed Imran
your length of name is 14

In [8]:
glass1 = "milk"
glass2 = "ice"
#changing the variables
temp1 = glass1
glass1 = glass2
glass2 = temp1

print((glass1),(glass2))

ice milk

In [10]:
print("Welcome to the band name generator")
name1 = (input("Whats the name of the city you have grew in :\n"))
name2 = ( input("Whats your Pet name :\n"))
print("your band name could be", name1, name2)

Welcome to the band name generator

Whats the name of the city you have grew in :
 Bangalore
Whats your Pet name :
 Dragon

your band name could be Bangalore Dragon

In [11]:
print("Hello"[-2]) #Print Hello of Zero Place ( 0 from start and -1 from backwards )
print("123" + "234") #Concatination of two string
print(234 + 255) # Integer equals whole numbers
print(234_255_267) #Large integer numbers
print(3.134) #Floating point number
print(True)
print(False) #Boolean Data Type

l
123234
489
234255267
3.134
True
False

In [12]:
print(len("Hello"))
print(type("Hello"))
print(type(2345))
print(type(3.145))
print(type(True))

5
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [13]:
#Type Conversion

print("456" + "956")
print (int("234") + int("456"))

456956
690

In [18]:

name = input("Enter youe name")
length = len(name)
print("The words in your name is" , length)
print(type("Number of letters in your name"))
print(type(length))

Enter youe name Mohammed Imran

The words in your name is 14
<class 'str'>
<class 'int'>

In [19]:
name = input("Enter your name:")
length = len(name)

print(type("Number of letters in your name"))
print(type(length))

print("Number of letters in your name", str(length))

Enter your name: Mohammed Salman

<class 'str'>
<class 'int'>
Number of letters in your name 15

In [20]:
#Lists - Mutable values can be changed can chnage the values which we have defined in x
x = [10,12,14,16,12]

## Tuples - Immutable values cannot be change

x = [10,12,14,16,12]

In [24]:
#size of which shows how much memory x has taken 
x = 23456789046475978346589274628028746
print(x)
print(x.__sizeof__())

23456789046475978346589274628028746
40