In [ ]:
#function = A block of reusable code
#		place () after the function name to invoke it

def happy_birthday(name, age): #it starts with def and to call the function we have to invoke it with ()
	print(f"Happy Birthday to {name}..!")
	print(f"You are {age} years old")
	print("hope you have  a great future ahead")


happy_birthday("Imran", 29)
happy_birthday("Ameen", 29)
happy_birthday("Suhaib", 29)

Happy Birthday to Imran..!
You are 29 years old
hope you have  a great future ahead
Happy Birthday to Ameen..!
You are 29 years old
hope you have  a great future ahead
Happy Birthday to Suhaib..!
You are 29 years old
hope you have  a great future ahead

In [ ]:
def display_invoice(username, amount, due_date):
  print(f"Hello {username}, How are you...!")
  print(f"You Total bill is ${amount:.2f} and Due date is {due_date}")
  print()

display_invoice("Mohammed", 420, "01st  Jan")

Hello Mohammed, How are you...!
You Total bill is $420.00 and Due date is 01st  Jan

In [1]:
#return = statement used to end a function
#		and send the result back to the caller

def add(x, y):
	z = x + y
	return z

def subtract(x, y):
	z = x - y
	return z

def multiply(x, y):
	z = x * y
	return z

def divide(x, y):
	z = x / y
	return z

print(add(1, 2))
print(subtract(1, 2))
print(multiply(1, 2))
print(divide(1, 2))

3
-1
2
0.5

In [8]:
def create_name(first, last):
	first = first.capitalize()
	last = last.capitalize()
	return first + " " + last

full_name = create_name("big", "bro")
print(full_name)

Big Bro

In [13]:

# default argument = A default value for certain parameters
#			default is used when that argument is omitted
#			make your functions more flexible, reduces # of arguments
#			1. positional, 2. DEFAULT, 3. keyword, 4. arbitrary

def net_price(list_price, discount=0, tax=0.05):  # here we are using default arguments in functions
  return list_price * (1 - discount) * (1 + tax)

print(net_price(500)) # here we are suing default values
print(net_price(450, 0.1)) # here we are using discount value it will run without errors
print(net_price(500, 0.1, 0.05)) #here we are using all teh values

#If we have not declared an default value in the functions then we have to mention while calling the function or
#else it will give error

525.0
425.25
472.5

In [18]:
import time

def count(end, start =0):  # here the default value should come last or else program will give error
  for x in range(start, end + 1):
    print(x)
    time.sleep(1)
  print("DONE..!")

count(5)

0
1
2
3
4
5
DONE..!

In [28]:
#Keyword Argument

#Positioning comes first as "greeting" = "hello" then we can assign the other keywords and arguments

def new(greeting, title, first, last):
  print(f"{greeting} {title}{first} {last}")

new("Hello", "Mr.", "Mohammed", "Imran")
new("Hello", "Mr.", last="Imran", first="Mohammed")

print("1", "2", "3", "4", "5", "6", sep="---") #Separate keyword can be used in print function

def phone_number(country, state, city, company):
  print(f"{country} {state} {city} {company}")

phone_number(country= "India", city = "Bangalore", state = "Karnataka", company = "TCS")

Hello Mr.Mohammed Imran
Hello Mr.Mohammed Imran
1---2---3---4---5---6
India Karnataka Bangalore TCS

In [36]:
from os import O_LARGEFILE
#ARBITRARY Arguments

# *args	= allows you to pass multiple non-key arguments
# **kwargs = allows you to pass multiple keyword- arguments
#		*unpacking operator

#def add(*nums): #here we are using *args we can chnage the name too(ARBITRARY Arguments
def add(*args): #here we are using *args we can chnage the name too(ARBITRARY Arguments)
  total = 0
  for arg in args:
    total += arg
  return total

print(add(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

def display_name(*args):
  for arg in args:
    print(arg, end=" ")

display_name("Dr", "Spongbob", "Harold", "Squarepant", "|||")

55
Dr Spongbob Harold Squarepant |||

In [43]:
def print_address(**kwargs):
	for key, value in kwargs.items():
		print(f"{key:8}: {value}")

print_address(street = "Whitefield",
              Area = "Bangalore",
              city = "Bangalore",
              state = "Karnataka",
              country = "India")

street  : Whitefield
Area    : Bangalore
city    : Bangalore
state   : Karnataka
country : India

In [55]:
#*args and *kwargs in functions

def details(*args, **kwargs):
  for arg in args:
    print(arg, end= " ")
  print()
  for value in kwargs.values():
    print(f"{value}", end =" ")
  print()
  print(f"{kwargs.get('street')}")
  print(f"{kwargs.get('city')}")
  print(f"{kwargs.get('state')}")
  print(f"{kwargs.get('country')}")


details("Mohammed", "Imran", street = "Whitefield", Area = "Bangalore", city = "Bangalore", state = "Karnataka", country = "India")

Mohammed Imran
Whitefield Bangalore Bangalore Karnataka India
Whitefield
Bangalore
Karnataka
India

In [61]:
#Iterable
#Iterables = An object/collection that can return its elements one at a time,
#		allowing it to be iterated over the loop

numbers = [1, 2, 3, 4, 5]
#for number in reversed(numbers):  #it prints reversed
for blablabla in numbers:
  print(blablabla, end= "- -")

1- -2- -3- -4- -5- -