<a href="https://colab.research.google.com/github/muhammedimrans/Python/blob/main/program01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello World \nHello America \nHello India")

Hello World
Hello America
Hello India

# New Section

In [ ]:
%timeit [i**2 for i in range (100)]

28.8 µs ± 743 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
number = 7
a = 34
b = 33
min_num = a if a < b else b  # Less than
max_num = a if a > b else b  # greater than
print(min_num)
print(max_num)

33
34

In [ ]:

from pickle import TRUE
number = int(input("Enter the number that needs to check if its EVEN or ODD: "))
if number % 2 == 0:
    print("Number is an Even Number")
else:
    print("Number is an ODD Number")

Enter the number that needs to check if its EVEN or ODD: 25
Number is an ODD Number

In [ ]:
age = 19

status = "ADULT" if age >= 18 else "CHILD"
print(status)
while True:
    try:
        number = int(input("Enter a number: "))
        break
    except ValueError:
        print("Invalid input. Please enter a number.")
status = "Number is EVEN" if number % 2 == 0 else "Number is ODD"
print(status)

ADULT
Enter a number: 24
Number is EVEN

In [ ]:
temp = 19
access = "admin"
weather = "HOT" if temp > 20 else "COLD" # One Line IF statement
print(f"Todays Temperature is {weather}")

access_level = "FULL ACCESS" if access == "admin" else "LIMITED_ACCESS"  # One Line IF statement
print(f"You have an {access_level}")

Todays Temperature is COLD
You have an FULL ACCESS

In [ ]:
a = True
b = False
print(int(a))
print(int(b))
if (int(a)==0):
    print("This is not a zero type integer")
else:
    print("This is my program and i will write the shit what i want")
print(a)
print(b)
print(type(a))
print(type(b))

1
0
This is my program and i will write the shit what i want
True
False
<class 'bool'>
<class 'bool'>

In [ ]:
print("Azaa is going on ")
aza = str(input("Is Azaa Completed Please answer yes or No :"))

if aza == 'yes':
  print("You can watch the TV")
else:
  print("Please avoid watching till azaa gets completes")

print("Hope you have a god blessings")

Azaa is going on
Is Azaa Completed Please answer yes or No :Yes
Please avoid watching till azaa gets completes
Hope you have a god blessings

In [ ]:
name = input("Enter your name to check the length of the char: ")
result = len(name)
result0 = name.find(" ")  # to find the space character in the program
result1 = name.rfind("a") # it checks fro a reverse value not from left from right value it shows result
name = name.capitalize() #it Capitalize the first string of name
name = name.upper()  #Converts string to Upper case
name = name.lower()  #Lower case the letters in the name
name = is.digit() #it shows only true if only numbers have been enteres
name = is.alpha() # it returns only true if only alohabets have been entered withoout space
phone_number = phone_number.replace("-", " ")  # it replace the - to space in number

print(result)
print(result0)
print(result1)
print("Your name is :", name)


Print(help(str))  #--> it gives the all the shortcut string that we use earlier

Enter your name to check the length of the char: Mohammed Imran
14
8
12
Your name is : MOHAMMED IMRAN

In [ ]:
#indexing = accessing elements of a sequence using [] (indexing operations)
#	[start : end : step]

credit_number = "1234-3423-3456-2343"
print(credit_number[0]) #prints first number
print(credit_number[0:4]) # Prints from 0 to 3
print(credit_number[5:9]) # Prints from 5 to 8
print(credit_number[:4]) # if we dont defines also it will execute form 0 to 4
print(credit_number[5:]) # if we dont define the last index it will execute from 5 to last number
print(credit_number[-1]) # Prints from last
print(credit_number[::2]) # Prints every second character

1
1234
3423
1234
3423-3456-2343
3
1-353

In [ ]:
name = input("What is your name: ")

print(name) if name.isalpha() else print("Invalid Character")

What is your name: Imran
Imran

In [ ]:
name = input("What is your First and Last name :")
#print (name) if name.isalpha() else print("Invalid keyword")
if all(char.isalpha() or char.isspace() for char in name):
    print(name)
else:
    print("Invalid Character")

What is your First and Last name :Mohammed Imran
Mohammed Imran

In [ ]:
# prompt: program for every click dice should rotate and give the number from 1 to 6

import random
import time

def roll_dice():
  """Simulates rolling a six-sided die and provides visual feedback."""

  # Generate a random number between 1 and 6
  roll = random.randint(1, 6)

  # Simulate dice rotation (visual effect)
  print("Rolling the dice...")
  time.sleep(1)  # Pause for 1 second
  print("...")
  time.sleep(0.5) # Pause for 0.5 second
  print(f"The result is: {roll}")
  return roll


# Example usage:
roll_dice()

Rolling the dice...
...
The result is: 1

1

In [ ]:
username = input("Enter the username of the user :")

if len(username) > 12:
	print("Username should not contain more than 12 characters")
elif not username.find(" ") == -1:
	print("Username should not contain space")
elif not username.isalpha():
	print("Username should not contain digits")
else:
	print(f"Welcome {username}")

Enter the username of the user :Mohammed
Welcome Mohammed

In [ ]:
credit_number = "1234-3423-3456-2343"
#print(credit_number[0]) #prints first number
#print(credit_number[0:4]) # Prints from 0 to 3
#print(credit_number[5:9]) # Prints from 5 to 8
#print(credit_number[:4]) # if we dont defines also it will execute form 0 to 4
#print(credit_number[5:]) # if we dont define the last index it will execute from 5 to last number
#print(credit_number[-1]) # Prints from last
print(credit_number[::2]) # Prints every second character

13-4335-33

In [ ]:
price1 = 3000.14159
price2 = -987.65
price3 = 12.34
print(f"Price1 is ${price1 :.1f}")
print(f"Price2 is ${price2 :+1f}")
print(f"Price3 is ${price3 :.1f}")
print(f"Price1 is ${price1 :10}") #10 digits
print(f"Price1 is ${price1 :010}") #0 padded with 10
print(f"Price1 is ${price1 :<10}") #left justified with 10 digits
print(f"Price1 is ${price1 :>10}") #right justified with 10 digits
print(f"Price1 is ${price1 :^10}") #Center justified with 10 digits
print(f"Price1 is ${price1 :+}") #any positive value will be shown as + sign and _ve one will not show + sign
print(f"Price1 is ${price2 :+}") #any positive value will be shown as + sign and _ve one will not show - sign
print(f"Price1 is ${price1 :,}") #will put , it can be only use if there are three digits Ex: 3000.00 not like 30.00
print(f"Price1 is ${price1 :+,.2f}") # added + , and .2f

Price1 is $3000.1
Price2 is $-987.650000
Price3 is $12.3
Price1 is $3000.14159
Price1 is $3000.14159
Price1 is $3000.14159
Price1 is $3000.14159
Price1 is $3000.14159
Price1 is $+3000.14159
Price1 is $-987.65
Price1 is $3,000.14159
Price1 is $+3,000.14

In [ ]:

name = input("Enter your name :")
#if name == "":
#	print("You did not enter your name")
#else:
#	print(f"your name is {name}")

while name == "":
  print("You did not enter your name")
  name = input("Please Enter your name :")
print(f"your name is {name}")

Enter your name :Imran
your name is Imran

In [ ]:
age = int(input("Enter your age :"))

while age < 0:
	print("Age can't be negative")
	age = int(input("Enter your age :"))
print(f"You are {age} years old")

Enter your age :21
You are 21 years old

In [ ]:
#Example 2 on While loop
food = input("Enter the food you like (q to exit) :")

while not food == 'q':
  print(f"You like {food}")
  food = input("Enter the another food you like :")
print("Bye Take care")

Enter the food you like (q to exit) :pizza
You like pizza
Enter the another food you like :burger
You like burger
Enter the another food you like :q
Bye Take care

In [ ]:
#Example 3 on While loop
num = int(input("Enter the number greater than 1 and less than 10 :"))

while num < 0 or num > 10:
  print(f"Not a valid Number")
  num = int(input("Please Enter the number greater than 1 and less than 10 :"))
print(f"Entered number is {num}")

Enter the number greater than 1 and less than 10 :-1
Not a valid Number
Please Enter the number greater than 1 and less than 10 :-4
Not a valid Number
Please Enter the number greater than 1 and less than 10 :4
Entered number is 4

In [ ]:
principal = 0
rate = 0
time = 0

while principal <= 0:
  principal = float(input("Please Enter the Principal amount greater than 0 :"))
  print(f"Principal amount is {principal}")
while rate <= 0:
  rate = float(input("Please Enter the Interest Rate can't be less than zero :"))
  print(f"Interest Rate is {rate}")
while time <= 0:
  time = int(input("Enter the time that cant be less than zero :"))
  print(f"Time is {time} years")

total = principal * pow((1 + rate / 100), time)
print(f"Balance after {time} years: ${total:.2f}")

Please Enter the Principal amount greater than 0 :100
Principal amount is 100.0
Please Enter the Interest Rate can't be less than zero :1
Interest Rate is 1.0
Enter the time that cant be less than zero :1
Time is 1 years
Balance after 1 years: $101.00

In [ ]:
principal = 0
rate = 0
time = 0

while True:
  principal = float(input("Please Enter the Principal Amount  :"))
  if principal < 0:
    print(f"Please Enter Principal amount Greater than 0")
  else:
    break
while True:
  rate = float(input("Please Enter the Interest Rate :"))
  if rate < 0:
    print(f"Please Enter Interest Rate is greater tha  0")
  else:
    break
while True:
  time = int(input("Enter the time :"))
  if time < 0:
    print(f"Time should be greater than zero")
  else:
    break

total = principal * pow((1 + rate / 100), time)
print(f"Balance after {time} years: ${total:.2f}")

Please Enter the Principal Amount  :-1
Please Enter Principal amount Greater than 0
Please Enter the Principal Amount  :300000
Please Enter the Interest Rate :13
Enter the time :4
Balance after 4 years: $489142.08

In [ ]:
#For Statement

#for loops = execute a block of code a fixed number of times.
#We can iterate over a range, string, sequesnce, etc

#for x in reversed(range(1, 11)):
#	print(x)
credit_card = "1234-3454-2333-2367"

for x in credit_card: #(start , end, in 3 times)
	print(x)

1
2
3
4
-
3
4
5
4
-
2
3
3
3
-
2
3
6
7

In [ ]:
for x in range(1, 21):
	if x == 13:
		continue #Skipping number 13
	else:
		print(x)

1
2
3
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19
20

In [92]:
import time

now = datetime.now()
#current_time = now.strftime("%H:%M:%S")
print(f"Current time = {now}")

my_time = int(input("Enter the time in Seconds :"))

for x in range(my_time, 0, -1):
  seconds = x % 60
  minutes = int(x / 60) % 60
  hours = int(x / 3600)
  print(f"{hours:02}:{minutes:02}:{seconds:02}")
  time.sleep(1)
print("Happy New Year")

Current time = 2025-01-03 13:01:38.754516
Enter the time in Seconds :23
00:00:23
00:00:22
00:00:21
00:00:20
00:00:19
00:00:18
00:00:17
00:00:16
00:00:15
00:00:14
00:00:13
00:00:12
00:00:11
00:00:10
00:00:09
00:00:08
00:00:07
00:00:06
00:00:05
00:00:04
00:00:03
00:00:02
00:00:01
Happy New Year

In [14]:
#Nested loop

for x in range(15):
  for y in range(1, 10):
    print(y, end=".")  #for each print it will print in a new line by using end and assigning it with empty it wil print in a single line
  print()

1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.
1.2.3.4.5.6.7.8.9.

In [19]:
rows = int(input("Enter the # of rows :"))
column = int(input("Enter the # of column :"))
symbol = input("Enter the Symbol :")

for x in range(rows):
	for y in range(column):
		print(symbol, end=".")
	print()

Enter the # of rows :4
Enter the # of column :5
Enter the Symbol :$
$.$.$.$.$.
$.$.$.$.$.
$.$.$.$.$.
$.$.$.$.$.

In [46]:

#LISTS and its formats that we will use in the python

fruits = ["orange", "banana", "pineapple", "apple", "strawberry"]
#print(help(fruits)) # it will show all the functions that we can executes in lists
#print(fruits[0:3]) # lists the items from 0 till 3
#print(dir(fruits)) #lists valid attributes
#print(len(fruits)) # it shows the length of the lists
#print("apple" in fruits) #it checks whether that item is in lists its gives boolean value
#fruits[0] = "mango"  # to chnage the list values
fruits.append("mango") # to add an element at the end of the lists
fruits.remove("mango") # to remove an item from the list
fruits.insert(0, "mango") # it add another value in the list
#fruits.sort() # it sorts from alphabatical orders
#fruits.reverse() # to reverse the lists not an alphabetical order the order which we placed them
#if we want to reverse in alphabetical order first sort then reverse the lists
#fruits.clear() # to clear all the lists
#print(fruits.index("apple"))  # TO list the index of the list item
print(fruits.count("banana"))

for fruit in fruits:
	print(fruit, end=", ")

1
mango, orange, banana, pineapple, apple, strawberry,

In [67]:
#SETS Set = {} unordered and immutable, but add/remove OK. No duplicate


fruits = {"orange", "banana", "pineapple", "apple", "strawberry"}

#print(help(fruits)) # it will show all the functions that we can executes in lists
#print(dir(fruits)) #lists valid attributes
#print(len(fruits)) # it shows the length of the lists
#print(fruits[0:3]) # We cant use indexing in sets it will give type error
#fruits.add("mango") # we are adding mango to the sets
#fruits.remove("apple") # we are removing apple from sets fruits
print("apple" in fruits) #it checks whether that item is in lists its gives boolean value
#fruits.pop() # remove one item from the sets cant say which one
#fruits.clear() #to clear all the iteams in the fruits
print(fruits)

True
set()

In [75]:
#TUPLE	Tuple = () ordered and unchangeable. Duplicates OK. Faster

fruits = ("orange", "banana", "pineapple", "apple", "strawberry")
#print(help(fruits)) # it will show all the functions that we can executes in lists
#print(dir(fruits)) #lists valid attributes
#print(len(fruits)) # it shows the length of the lists
#print("pineapple" in fruits) ##it checks whether that item is in lists its gives boolean value
#print(fruits.index("apple")) # it will show the index value
print(fruits.count("orange")) # it counts the values as duplicates are OK in Tuples
#this are iterable can use for loop

print(fruits)
for x in fruits:
  print(x, end=" ")

1
('orange', 'banana', 'pineapple', 'apple', 'strawberry')
orange banana pineapple apple strawberry

In [91]:
foods = []
prices = []
total = 0

while True:
  food = input("Enter the food to buy (Press q to exit) :")
  if food.lower() == "q":
      break
  else:
    price = float(input("Enter the proce of the food in $ :"))
    foods.append(food)
    prices.append(price)

print("----------Your Cart-------------------- ")
for food in foods:
  print(food, end=", ")

for price in prices:
  total = total + price
print()

for price in prices:
  print(f"${price}", end=", ")
print()
print(f"Your Total Price is ${total}")

Enter the food to buy (Press q to exit) :Pizza
Enter the proce of the food in $ :5.99
Enter the food to buy (Press q to exit) :Hamburger
Enter the proce of the food in $ :23.12
Enter the food to buy (Press q to exit) :Chicken
Enter the proce of the food in $ :23.12
Enter the food to buy (Press q to exit) :Ice Cream
Enter the proce of the food in $ :12.22
Enter the food to buy (Press q to exit) :q
----------Your Cart--------------------
Pizza, Hamburger, Chicken, Ice Cream,
$5.99, $23.12, $23.12, $12.22,
Your Total Price is $64.45